* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .gradient {
      background-image: linear-gradient(to right, #da4453, #89216b);
    }

    #container { 
      position: relative;
    }
.cart {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 10;
 
  
}
.cart button {
  width: 72px;
  height: 72px;
  border-radius: 50%;
 
  background-color: rgba(239, 217, 217, 0.3);

}

#tbodyCart button {
  border: 1px solid transparent;
  background-color: transparent;
}

.table td {
  vertical-align: middle;
}



#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}