* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.gradient {
    background-image: linear-gradient(to right, #da4453, #89216b);
  }


  #loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}